img{
    width:19% ;
    padding-top: 58px;
    float: right;
}
.class{
    color: rgb(7, 129, 150);
    background-color: aqua;
    padding: 20px 20px 20px 20px;
    font-size: large;
    font-weight: 50;

}
span{
    color: aqua;
}